body { 
  text-align: center; 
  font-family: Comic Sans MS, cursive; 
  background: #FFF8DC; 
}

h1 { color: #FF69B4; }

#maggie { 
  width: 70%;           /* grande y adaptable */
  max-width: 600px;     
  transition: transform 0.2s; 
}

#maggie.talking {
  transform: scale(1.1);  /* agranda mientras habla */
}

#word-display { 
  font-size: 2em; 
  color: blue; 
  margin: 10px; 
}

button { 
  font-size: 1.2em; 
  margin: 5px; 
  padding: 10px; 
  cursor: pointer; 
}

#message {
    font-size: 2em;
    color: green;
    margin: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    position: relative;
}

#message.show {
    opacity: 1;
}
